.contenedor{
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.bg-gradient1{
  background: #3D7EAA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFE47A, #3D7EAA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFE47A, #3D7EAA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.glass-nav{
    backdrop-filter: blur(1000px) !important;
    background: rgb(237, 237, 237, .1 );
}